form {
    background-color: #F5F5F5 !important;
    width: 60vw;
    align-items: center;
    justify-content: center;
    padding: 5vh;
    margin: 5vh;
    border-radius: 5vh;
    color: black;
    display: flex;
    flex-direction: column;
    font-weight: bold;

}

.form-control {
    background-color: white;
    border-radius: 1.25rem;
    border: 0;
    width: 40vw;
    color: black;
    padding: .3125rem;
    position: sticky;
    top: .3125rem;
    margin-left: .5rem;
}
/* 
.form-select {
    background-color: white;
    border-radius: 1.25rem;
    border: 0;
    width: 40vw;
    color: black;
    padding: .3125rem;
    position: sticky;
    top: .3125rem;
    margin-left: .5rem;
} */

.btn-custom {
    background-color: #DC001B;
    color: #fff; 
    border-radius: 100px;
    letter-spacing: 1px;
    padding: 5px 30px;


  }
  .btn-custom:hover {
    background-color: #fff;
    color: #DC001B;
    border: 2px solid #DC001B;
  }
  

/* #btn-ad {
    background-color: #80C5F6;
    color: black;
    border-style: none;
} */

/* #btn-ad:hover {
    color: white;
    background-color: #80C5F6;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
} */

.container-form {
    display: flex;
    justify-content: center;
    background-color: white;


}

.form-control {
    width: 50vw;
    display: flex;

}


#input-description {
    height: 20vh;
}


@media (max-width: 600px) {
    .form-control {
        width: 40vw;
        display: flex;

    }

}