.footer {
padding: 0 50px;

}



@media (max-width: 768px) {
    .flex-column {
      max-width: 100%;
      align-content: center;
      justify-content: center;
      padding-left: 25%;
      padding-right: 25%;
      
    }
  }

  @media (max-width: 425px) {
    .flex-column {
      max-width: 100%;
      align-items: center;
      justify-content: center;
      
    }
  }

  @media (max-width: 800px) {
    .container-form {
      margin-bottom: 200px;
     
    }
  }
  