/* SideBarc.css */

/* Estilo para pantallas pequeñas */
@media (max-width: 767px) {
    .min-vh-100 {
      /* Cambiar el alto mínimo a 100vh para pantallas pequeñas */
      min-height: 100vh;
    }
  
    .col-md-2 {
      /* Cambiar el ancho de la columna a 100% para pantallas pequeñas */
      width: 100%;
    }
  
    /* Esconder el texto en los elementos de la barra lateral para pantallas pequeñas */
    .fs-5 span {
      display: none;
    }
  
    /* Ajustar el margen izquierdo de los iconos en la barra lateral para pantallas pequeñas */
    .fs-5 i {
      margin-left: 0.5rem !important;
    }
  }
  