h6{
    margin: 0;
    color: black;
    text-align: center;
}

.item{
    align: center;
    margin: 1em;
    color: white;
    float: left;
    width: 7em;
    height: 7rem;  
    margin-bottom: 50px;
}
.imgStyle{
    width: 7rem;
}