.rate {
    display: flex;
    justify-content: center;
    height: 36px;
    margin-top: -35px;
    margin-bottom: -20px;
    margin-left: 40%;
    padding: 0 2px;
  }
  
  .rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
  }
  
  .rate:not(:checked) > label {
    float:left;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 25px;
    color: #ffc700;
  }
  
  .rate:not(:checked) > label:before {
    content: '★ ';
  }
  
  .rate > input:checked ~ label:nth-last-child(-n + 1):before {
    content: '★';
    width: calc(20% - 1px);
    color: #ffc700;
  }
  
  .rate > input:checked ~ label:nth-last-child(-n + 2):before {
    content: '★★';
    width: calc(40% - 2px);
    color: #ffc700;
  }
  
  .rate > input:checked ~ label:nth-last-child(-n + 3):before {
    content: '★★★';
    width: calc(60% - 3px);
    color: #ffc700;
  }
  
  .rate > input:checked ~ label:nth-last-child(-n + 4):before {
    content: '★★★★';
    width: calc(80% - 4px);
    color: #ffc700;
  }
  
  /* Establece el estilo de la estrella gris inactiva */
  .rate > input:not(:checked) ~ label:last-child:before {
    content: '★★★★★';
    width: calc(100% - 5px);
    color: #ccc;
  }
  